.header{
    width: 100%;
    height: 4em;
    background-color: rgb(255, 255, 255);
    position: sticky;
    color: rgb(0, 0, 0);
}

.propic
{
    width: 10rem;
    height: 30rem;
    overflow: hidden;
}
.details
{
    color: #ffffff;
    width: 10rem;
    height: 30rem;
    padding:8em;
    background-color: rgb(102, 101, 100);
    border-bottom: 1px solid #ffffff;

}
.nav
{
    background-color: #ffffff;
}
.about
{
    width: 10rem;
    height: 30rem;
    color:#ffffff;
    background-color: rgb(102, 101, 100);
    overflow:hidden;
}
.projects
{
    border: 2px solid #ffffff ;
    background-color: rgb(102, 101, 100);
    
}
.social
{
    width: 3rem;
    height: 3rem;
}

.contact
{
    color: black;
}
footer
{
    background-color: black;
    color: blanchedalmond;
}